# Environnement virtuel
venv/

# Fichiers Python inutiles
__pycache__/
*.py[cod]
*.egg-info/

# Fichiers Jupyter temporaires
.ipynb_checkpoints/

# Données sensibles ou temporaires
*.csv
*.xlsx
*.json
.env
